@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;800&display=swap");
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #a41e1e;
  --secondary-color: #f4c430;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
}
